.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

data/raw/
data/manifests/*.csv
checkpoints/*
outputs/*
wandb/

!data/.gitkeep
!data/manifests/.gitkeep
!notebooks/.gitkeep
!checkpoints/.gitkeep
!outputs/.gitkeep
